<!DOCTYPE html>
<html>
<head>
<title>Admin Login</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="form-box">
<h2>Admin Login</h2>

<form action="/admin/login" method="POST">
<input type="email" name="email" required placeholder="Admin Email">
<input type="password" name="password" required placeholder="Admin Password">
<button type="submit">Login</button>
</form>

<br>
<a href="/">Back to Home</a>

</div>

</body>
</html>
