<!DOCTYPE html>
<html>
<head>
<title>Login Success</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="success-box">
<h2>✅ User Login Successfully</h2>
<a class="btn" href="/store">Visit Store</a>
</div>

</body>
</html>
