<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="form-box">
<h2>Login</h2>

<form action="/login" method="POST">
<input type="email" name="email" placeholder="Enter Email" required>
<input type="password" name="password" placeholder="Enter Password" required>
<button type="submit">Login</button>
</form>
<br>
<a href="/">Back to Home</a>

</div>

</body>
</html>
